
@font-face {
  font-family: "Sketch-3D";
  src: local(Sketch-3D), url("./Fonts/Sketch-3D.woff")
}

body {
  font-family: "Sketch-3D";
  background-image: url("https://i.pinimg.com/originals/80/4f/9d/804f9d9f98aec636235b4de0668b4b62.jpg");
}

.flex-div {
  display: flex;
  justify-content: center;
}

.header-div {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(255, 122, 122);
}
.header-h1 {
  background-color: lightslategray;
}